[Desktop Entry]
Name=Carch
Comment=A Simple Script to Make Linux System Setups Easier
Exec=/usr/bin/carch
Icon=carch
Type=Application
Terminal=true
Categories=Utility;

