[Desktop Entry]
Name=Carch
Comment=A simple Rust-based CLI tool (built with Ratatui) to streamline and automate your Linux system’s initial setup
Exec=/usr/bin/carch
Icon=carch
Type=Application
Terminal=true
Categories=Utility;
Keywords=linux;setup;script;configuration;automate;system;
