[Desktop Entry]
Name=Carch
Comment=A simple CLI tool to automate Linux system setup 🧩.
Exec=/usr/local/bin/carch
Icon=carch
Type=Application
Terminal=true
Categories=Utility;
Keywords=linux;setup;script;configuration;automate;system;
