[package]
name = "carch-core"
version.workspace = true
license.workspace = true
edition = "2024"
include = [
  "src",
  "Cargo.toml",
  "../LICENSE",
  "../.github/README.md",
  "../scripts",
]

[dependencies]
tempfile = { workspace = true }
include_dir = { workspace = true }
ratatui = { workspace = true }
crossterm = { workspace = true }
syntect = { workspace = true }
reqwest = { workspace = true, default-features = false, features = ["blocking", "json", "rustls-tls"] }
serde = { workspace = true, features = ["derive"] }
fuzzy-matcher = { workspace = true }
portable-pty = { workspace = true }
tui-term = { workspace = true, default-features = false }
vt100-ctt = { workspace = true }
oneshot = { workspace = true, features = ["std"], default-features = false }
thiserror = { workspace = true }
toml = { workspace = true }
log = { workspace = true }
env_logger = { workspace = true }
