:root {
  --bg-color: #f9fafc;
  --text-color: #333;
  --header-bg-color: #1f2937;
  --header-text-color: #fff;
  --tab-bg-color: #374151;
  --tab-hover-color: #3b82f6;
  --content-bg-color: #f9fafc;
  --content-border-color: #e5e7eb;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body.dark-mode {
  --bg-color: #181a1b;
  --text-color: #d1d5db;
  --header-bg-color: #111827;
  --header-text-color: #d1d5db;
  --tab-bg-color: #374151;
  --tab-hover-color: #3b82f6;
  --content-bg-color: #24292e;
  --content-border-color: #374151;
}

header {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 10px;
  text-align: center;
  border-bottom: 4px solid var(--tab-hover-color);
  position: relative;
}

#theme-toggle {
  background: transparent;
  border: none;
  color: var(--header-text-color);
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.vertical-tabs {
  display: none;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  
 .vertical-tabs {
    display: block;
    width: 250px;
  }

  .vertical-tabs ul.tabs {
    list-style-type: none;
    padding: 0;
  }

  .vertical-tabs ul.tabs a {
    text-decoration: none;
    color: var(--header-text-color);
    padding: 15px;
    display: block;
    background-color: var(--tab-bg-color);
    margin: 5px 15px;
    font-size: 1em;
    border-radius: 5px;
    transition: background 0.3s;
  }

  .vertical-tabs ul.tabs a:hover {
    background-color: var(--tab-hover-color);
  }
}

 .content-area {
    padding: 30px;
    flex: 1;
    overflow-y: auto;
    background-color: var(--content-bg-color);
  }

.content {
  display: block;
  padding: 20px;
}

.content.active {
  display: block;
}

.preview-img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 15px;
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
}

h3 {
  margin-top: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-top: 15px;
}

ul li {
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}

ul li::before {
  content: "📜";
  position: absolute;
  left: 0;
  color: #3b82f6;
}

