name: Changelog

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (e.g., 1.1.1)'
        required: true
      target_branch:
        description: 'Target branch for the PR'
        required: false
        default: 'main'

jobs:
  generate_changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0

      - name: Install git-cliff
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          LATEST_TAG=$(curl -s https://api.github.com/repos/orhun/git-cliff/releases/latest | jq -r '.tag_name')
          FILE="git-cliff-${LATEST_TAG#v}-x86_64-unknown-linux-gnu.tar.gz"
          curl -sL "https://github.com/orhun/git-cliff/releases/download/${LATEST_TAG}/${FILE}" | tar -xz
          mv git-cliff-*/git-cliff /usr/local/bin/git-cliff
          chmod +x /usr/local/bin/git-cliff
          git-cliff --version

      - name: Generate changelog with git-cliff
        run: git-cliff -o CHANGELOG.md

      - name: Cleanup git-cliff installation files
        run: rm -rf git-cliff-*

      - name: Create Pull Request
        id: create_changelog_pr
        uses: peter-evans/create-pull-request@v8.1.0
        with:
          token: ${{ secrets.PAT_TOKEN }}
          commit-message: "chore(release): update changelog for v${{ github.event.inputs.version }}"
          branch: changelog/${{ github.event.inputs.version }}
          title: "changelog for v${{ github.event.inputs.version }}"
          body: |
            changelog for version v${{ github.event.inputs.version }}.
          base: ${{ github.event.inputs.target_branch }}
          delete-branch: false

      - name: Install GitHub CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y gh

      - name: Merge PR
        if: steps.create_changelog_pr.outputs.pull-request-number != ''
        run: |
          gh pr merge changelog/${{ github.event.inputs.version }} --squash --delete-branch
        env:
          GH_TOKEN: ${{ secrets.PAT_TOKEN }}
